<div
  class="d-flex flex-column flex-shrink-0 p-0 m-0 "
  [class]="darkMode ? 'dark-menu' : 'side-menu bg-white'"
  style="width: 245px"
>
  <div class="profile">
    <div class="profile-image">
      <img src="/assets/images/profile-picture.png" alt="" />
    </div>
    <div class="profile-data">
      <div class="profile-name">
        <p>{{ adminData.FirstName }} {{ adminData.LastName }}</p>
      </div>
      <p class="profile-email">{{ adminData.Email }}</p>
    </div>
  </div>

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/Dashboard" routerLinkActive="active" class="nav-link">
        <mat-icon aria-hidden="false">home_icon</mat-icon>
        <span> Dashboard </span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Users" routerLinkActive="active" class="nav-link">
        <mat-icon aria-hidden="false">people_icon</mat-icon>
        <span> Users </span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Products" routerLinkActive="active" class="nav-link">
        <mat-icon aria-hidden="false">shopping_bag_icon</mat-icon>
        <span> Products </span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Orders" routerLinkActive="active" class="nav-link">
        <mat-icon aria-hidden="false">shopping_cart_icon</mat-icon>
        <span> Orders </span>
      </a>
    </li>
  </ul>
</div>
