<div
  class="d-flex flex-column flex-shrink-0 p-0 m-0  mat-app-background position-sticky top-0"
  style="width: 245px"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/Dashboard" routerLinkActive="active" class="nav-link">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Users" routerLinkActive="active" class="nav-link">
        Users
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Products" routerLinkActive="active" class="nav-link">
        Products
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Orders" routerLinkActive="active" class="nav-link">
        Orders
      </a>
    </li>
  </ul>
</div>
