<div
  class="d-flex flex-column flex-shrink-0 p-0 m-0 bg-white position-sticky top-0"
  style="width: 245px"
>
  <div class="admin-name">
    <p>{{ adminData.FirstName }} {{ adminData.LastName }}</p>
  </div>
  <p>{{ adminData.Email }}</p>

  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/Dashboard" routerLinkActive="active" class="nav-link">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Users" routerLinkActive="active" class="nav-link">
        Users
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Products" routerLinkActive="active" class="nav-link">
        Products
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/Orders" routerLinkActive="active" class="nav-link">
        Orders
      </a>
    </li>
  </ul>
</div>
