<div class="container mat-elevation-z8" [style.background]="'white'">

  <div class="row pt-5 justify-content-around">
    <form class="col-5">
      <div class="input-group">
        <div class="input-group-append">
          <span class="input-group-text">
            <mat-icon aria-hidden="false" class="text-secondary"
              >person_search</mat-icon
            >
          </span>
        </div>
        <input
          matInput
          placeholder="Search user"
          class="form-control"
          [(ngModel)]="searchText"
          name="searchText"
          (keyup)="onTextChange()"
        />
      </div>
    </form>
    <mat-form-field class="col-2">
      <mat-label>Filter</mat-label>
      <mat-select [(value)]="selected" (valueChange)="changeViewedList()">
        <mat-option value="1">All Users</mat-option>
        <mat-option value="2">Admins</mat-option>
        <mat-option value="3">Not Admins</mat-option>
      </mat-select>
    </mat-form-field>  
  </div>
  <mat-spinner [hidden]="!loading" diameter="30" class="mx-auto"></mat-spinner>

  <table mat-table [dataSource]="dataSource" [hidden]="loading">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.FirstName }} {{ element.LastName }}
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.Email }}</td>
    </ng-container>

    <!-- Mobile Column -->
    <ng-container matColumnDef="PhoneNumber">
      <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
      <td mat-cell *matCellDef="let element">{{ element.PhoneNum }}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{ element.Address }}</td>
    </ng-container>

    <!-- BirthDate Column -->
    <ng-container matColumnDef="BirthDate">
      <th mat-header-cell *matHeaderCellDef>Birthdate</th>
      <td mat-cell *matCellDef="let element">{{ element.BirthDate }}</td>
    </ng-container>

    <!-- Add Admin Column -->
    <ng-container matColumnDef="addAdmin">
      <th mat-header-cell *matHeaderCellDef>Add Admin</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          *ngIf="!checkIfAdmin(element.id)"
          (click)="addNewAdmin(element)"
        >
          <mat-icon aria-hidden="false" [style.color]="'#04c9b7'"
            >add_moderator</mat-icon
          >
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="listOfUsers.length"
    [pageSize]="5"
    [pageSizeOptions]="[2, 5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
