.parent{
  padding-top: 20px;
  
  h3{
    font-size: 25px;
  font-weight: bold;
  text-align: center;
  }

  .btnTop{
    padding: 8px 27px;
    margin: 20px 0px;
  }

  table {
    width: 100%;
    box-shadow: 3px 3px 3px 3px;

    td, th{padding: 6px 30px;}

    .table-head{font-size: 17px;}

    .bttn{
      padding: 6px 10px;
      margin-right: 10px;
    }
}
}

