<div class="parent">
  <h3>Products</h3>

<button type="button" class="btnTop btn-primary" [routerLink]="['/AddNewProduct']">Add Product</button>

<table class="table">
    <thead class="table-dark">
      <tr class="table-head">
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Material</th>
        <th scope="col">Availability</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prd of prodListMatchCategID">
        <td> {{prd.id}} </td>
        <td> {{prd.Name}} </td>
        <td> {{prd.Price}} </td>
        <td> {{prd.Quantity}} </td>
        <td> {{prd.Material}} </td>
        <td> {{prd.Online}} </td>
        <td class="d-flex">
            <button type="button" class="btn1 bttn btn-success">Update</button>
            <button type="button" class="btn2 bttn btn-danger">Delete</button>
        </td>
      </tr>
      
    </tbody>
  </table>
</div>