<div class="container">
  <div>
    <label for="prdID" class="form-label">Product ID:</label>
    <input
      type="number"
      class="form-control"
      id="prdID"
      placeholder="Enter product ID"
    />
  </div>
  <div>
    <label for="prdName" class="form-label">Product Name:</label>
    <input
      type="text"
      class="form-control"
      id="prdName"
      placeholder="Enter product Name"
    />
  </div>
  <div>
    <label for="prdQuan" class="form-label">Product Quantity:</label>
    <input
      type="text"
      class="form-control"
      id="prdQuan"
      placeholder="Enter product Quantity"
    />
  </div>
  <div>
    <label for="prdMaterial" class="form-label">Product Material:</label>
    <input
      type="text"
      class="form-control"
      id="prdMaterial"
      placeholder="Enter product Material"
    />
  </div>
  <div>
    <label for="prdAvl" class="form-label">Availability:</label>
    <input
      type="text"
      class="form-control"
      id="prdAvl"
      placeholder="Enter Availability of Product"
    />
  </div>
  
  <button class="btn-primary">Add Product</button>
</div>
