<div class="container form-container d-flex flex-column">
  <mat-spinner *ngIf="loading" diameter="40" class="mx-auto"></mat-spinner>

  <form
    #loginForm="ngForm"
    *ngIf="!loading"
    [class]="darkMode ? 'mat-app-background' : 'bg-white'"
  >
    <div class="form-group">
      <label for="exampleInputUsername1">Email</label>
      <input
        [(ngModel)]="email"
        type="email"
        name="email"
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Enter email"
        required
        #formemail="ngModel"
      />
      <small
        class="text-danger w-100"
        [hidden]="formemail.valid || formemail.untouched"
      >
        Email is required
      </small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        [(ngModel)]="password"
        type="password"
        name="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
        required
        #formpassword="ngModel"
      />
      <small
        class="text-danger w-100"
        [hidden]="formpassword.valid || formpassword.untouched"
      >
        Password is required
      </small>
    </div>
    <div class="form-check">
      <input
        type="checkbox"
        name="checkbox"
        id="exampleCheck1"
        [(ngModel)]="rememberMe"
        (click)="checkRememberMe()"
      />
      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
    </div>
    <button
      type="button"
      [disabled]="loginForm.invalid"
      [class]="darkMode ? 'btn text-white' : 'btn'"
      (click)="login()"
    >
      Login
    </button>
    <a routerLink="/ResetPassword" class="reset-password-link">
      Forgot Your Password?
    </a>
  </form>
</div>
