.form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    // background-color: #fff;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.5);
    border-radius: 0.8rem;
    width: 35rem;
    padding: 1.5rem 2rem;

    & > * {
      margin-bottom: 1rem;
    }

    button {
      width: 100%;
      background-color: #04c9b7;
      border: none !important;
      outline: none !important;

      &:active {
        filter: brightness(80%);
      }

      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }

    .ng-valid:not(form):not(input[type="checkbox"]) {
      border-left: 5px solid #04c9b7;
    }

    .ng-invalid:not(form) {
      border-left: 5px solid #f5375b;
    }
  }
}

::ng-deep snack-bar-container {
  &.snackbar-alert {
    background: #fcd7de;

    .mat-simple-snackbar {
      color: #f5375b;
      font-weight: 500;

      .mat-simple-snack-bar-content {
        margin: auto;
      }
    }
  }
}

.bg-white {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

.form-check {
  padding: 0;
  display: flex;
  align-items: center;

  &-label {
    padding-left: 6px;
  }
}
