$green:#07be6e;
$redBright:#f9423c;

table {
    width: 100%;
  }

.status{
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: center;
  border-radius: 0.25rem;
  border: 1px solid transparent;

}

.completed{
  @extend .status;
  border-color: $green;
  color: $green;
}

.pending{
  @extend .status;
  border-color: $redBright;
  color:  $redBright;
}