$aqua:#04c9b7;
$redBright:#f9423c;

table {
    width: 100%;
  }

.status{
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: center;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  width: 65px
}

.completed{
  @extend .status;
  border-color: $aqua;
  color: $aqua;
}
.aqua-col{
  color: $aqua;
}
.pending{
  @extend .status;
  border-color: $redBright;
  color:  $redBright;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {   
    stroke: $aqua;
}