html,
body {
  height: 100%;
}

body {
  background-color: #fafbfd;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.white-text{
  color: #fff;
}

.dark-back {
  @extend .white-text;
  background-color: #1c1c1f;
}