<div class="main-part container">
  <div class="row">

    <div class="cpanel cpanel-blue col-md-3">
      <div class="icon-part">
        <i class="fa fa-users" aria-hidden="true"></i><br>
        <h6>TOTAL USERS</h6>
        <p>4567</p>
        <p>48% From Last 24 Hours</p>
      </div>
    </div>

    <div class="cpanel cpanel-red col-md-3">
      <div class="icon-part">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i><br>
        <h6>PRODUCTS</h6>
        <p>3500</p>
        <p>20% increased from last 2 days</p>
      </div>
    </div>


    <div class="cpanel cpanel-blue col-md-3">
      <div class="icon-part">
        <i class="fas fa-money-bill" aria-hidden="true"></i><br>
        <h6>BUDGETS</h6>
        <p>$ 80,950</p>
        <p>2% Decreased from last budget</p>
      </div>
    </div>

    <div class="cpanel cpanel-red col-md-3">
      <div class="icon-part">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i><br>
        <h6>SALES</h6>
        <p>5000</p>
        <p>5% increased from week</p>
      </div>
    </div>

  </div>

</div>


