<div class="container">
  <div class="form-heading">
    <h3>Update Any Product</h3>
  </div>
  
    <div class="form-group" >
      <label for="prdPrdName" class="form-label">Product Name:</label>
      <input
        type="text"
        class="form-control"
        id="prdPrdName"
        placeholder="Enter product Name in English"
        #prdPrdName
        required pattern="[A-Za-z]{3,}"
        [value]="product.ProductName?product.ProductName:''"
      >
    </div>

    <div class="form-group" >
      <label for="prdName" class="form-label">Name in English:</label>
      <input
        type="text"
        class="form-control"
        id="prdName"
        placeholder="Enter Name in English"
        #prdName
        required pattern="[A-Za-z]{3,}"
        [value]="product.Name?product.Name:''"

      >
    </div>

    <div class="form-group" >
      <label for="prdNameAr" class="form-label">Name in Arabic:</label>
      <input
        type="text"
        class="form-control"
        id="prdNameAr"
        placeholder="Enter Name in Arabic"
        #prdNameAr
        required pattern="[A-Za-z]{3,}"
        [value]="product.NameAr?product.NameAr:''"

      >
    </div>

    <div  class="form-group" >
      <label for="prdQuan" class="form-label">Product Quantity:</label>
      <input
        type="number"
        class="form-control"
        id="prdQuan"
        placeholder="Enter product Quantity"
        #prdQuantity
        [value]="product.Quantity?product.Quantity:''"

      >
    </div>
    <div class="form-group">
      <label for="prdPrice" class="form-label">Product Price:</label>
      <input
        type="number"
        class="form-control"
        id="prdPrice"
        placeholder="Enter product Price"
        #prdPrice
        [value]="product.Price?product.Price:''"
      >
    </div>
    <div class="form-group">
        <label for="prdMaterial" class="form-label">Product Material in English:</label>
        <input
          type="text"
          class="form-control"
          id="prdMaterial"
          placeholder="Enter product Material in English"
          #prdMaterial
          [value]="product.Material? product.Material:''"
        >
      </div>

      <div class="form-group">
        <label for="prdMaterialAr" class="form-label">Product Material in Arabic:</label>
        <input
          type="text"
          class="form-control"
          id="prdMaterialAr"
          placeholder="Enter product Material in Arabic"
          #prdMaterialAr
          [value]="product.MaterialAr?product.MaterialAr:''"
        >
      </div>

    <div class="form-group">
      <label for="prdAval" class="form-label">Product Availability:</label>
      <input
        type="text"
        class="form-control"
        id="prdAval"
        placeholder="Enter product Availability"
        #prdAvail
        [value]="product.Online?product.Online :''"
      >
    </div>

    <div class="form-group">
        <label for="prdDesc" class="form-label">Product Description in English:</label>
        <input
          type="text"
          class="form-control"
          id="prdDesc"
          placeholder="Enter product Description in English"
          #prdDesc
          [value]="product.Online?product.Description :''"
        >
      </div>

      <div class="form-group">
        <label for="prdDescAr" class="form-label">Product Description in Arabic:</label>
        <input
          type="text"
          class="form-control"
          id="prdDescAr"
          placeholder="Enter product Description in Arabic"
          #prdDescAr
          [value]="product.DescriptionAr?product.DescriptionAr:''"
        >
      </div>

    <div class="form-group">
      <label for="prdLength" class="form-label">Product Length:</label>
      <input
        type="text"
        class="form-control"
        id="prdLength"
        placeholder="Enter product Length"
        #prdLength
        [value]="product.Length?product.Length:''"
      >
    </div>

    <div class="form-group">
      <label for="prdWidth" class="form-label">Product Width:</label>
      <input
        type="text"
        class="form-control"
        id="prdWidth"
        placeholder="Enter product Width"
        #prdWidth
        [value]="product.Width?product.Width:''"
      >
    </div>

    <div class="form-group">
      <label for="prdURL" class="form-label">Product Image:</label>
      <input
        type="text"
        class="form-control"
        id="prdURL"
        placeholder="Enter product Image"
        #prdURL
        [value]="product.Images[0]?product.Images[0]:''"
      >
    </div>

    <div class="form-group">
      <label for="prdColor" class="form-label">Product Color in English:</label>
      <input
        type="text"
        class="form-control"
        id="prdColor"
        placeholder="Enter product Color in English"
        #prdColor
        [value]="product.Color?product.Color:''"
      >
    </div>

    <div class="form-group">
      <label for="prdColorAr" class="form-label">Product Color in Arabic:</label>
      <input
        type="text"
        class="form-control"
        id="prdColorAr"
        placeholder="Enter product Color in Arabic"
        #prdColorAr
        [value]="product.ColorAr?product.ColorAr:''"
      >
    </div>

    <div class="form-group">
      <label for="prdSubCatg" class="form-label">Product Subcategory:</label>
      <input
        type="text"
        class="form-control"
        id="prdSubCatg"
        placeholder="Enter product Subcategory"
        #prdSubCatg
        [value]="product.SubCategory?product.SubCategory:''"
      >
    </div>


    <button
      class="btn-primary"
      (click)="
        updateProduct(
          prdPrdName.value,
            prdName.value,
            prdNameAr.value,
            prdQuantity.value,
            prdPrice.value,
            prdMaterial.value,
            prdMaterialAr.value,
            prdAvail.value,
            prdDesc.value,
            prdDescAr.value,
            prdLength.value,
            prdWidth.value,
            prdColor.value,
            prdColorAr.value,
            prdURL.value,
            prdSubCatg.value
        )
      "
    >
      Update Product
    </button>
  <div class="alert alert-success">
    <h4>{{message}}</h4>
  </div>
</div>

