th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0;
}

table {
  width: 100%;
}

.order-details {
  margin-left: 1rem;
}

.product-image {
  width: 3rem;
  padding: 0.7rem 0;
}
